@charset "UTF-8";

*{
    margin: 0 0 0 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 5px 5px 5px 20px;
}

header > h1 {
    font-size: 25px;
    padding-top: 20px;
}

body > h2 {
    font-size: 20px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    font-size: 1em;
}

#cnh, #rg{
    columns: 2;
    max-width: 600px;
    border: 1px none gray;
    border-radius:15px;
    background-color: rgb(221, 223, 222);
    padding-bottom: 10px;
}

li {
    padding-top: 5px;
}

#idade {
    max-width: 600px;
    border: 1px none gray;
    border-radius:15px;
    background-color: rgb(221, 223, 222);
}

form {
    padding: 10px 10px 10px 30px;
}

footer {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
}